<div class="split">
  <div class="input-group input-group-lg mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <fa-icon [icon]="faSearch" style="font-size: 20px"></fa-icon>
      </div>
    </div>
    <input
      type="text"
      class="form-control"
      style="max-width: 400px"
      placeholder="Search Mail"
    />
  </div>
  <hr />
  <div class="card" *ngFor="let post of posts">
    <div class="card-body">
      <a routerLink="/mail/{{ post.id }}"
        ><h5>From : {{ post.email }}</h5></a
      >
      <h5>Subject : {{ post.name }}</h5>
    </div>
  </div>
</div>
