<div class="container">
  <button class="btn btn-light btn-lg">
    <fa-icon
      [icon]="faPlus"
      class="fa-sm mr-3"
      style="font-size: 21px"
    ></fa-icon
    >Compose
  </button>
  <hr />
  <ul class="list-unstyled">
    <li class="card-body"></li>
    <li class="listgroup"></li>
    <li class="list-group-item"><h5>Inbox</h5></li>
    <li class="list-group-item"><h5>Stared</h5></li>
    <li class="list-group-item"><h5>Snoozed</h5></li>
    <li class="list-group-item"><h5>Important</h5></li>
    <li class="list-group-item"><h5>Sent</h5></li>
    <li class="list-group-item"><h5>Draft</h5></li>
  </ul>
</div>
